@{
    ViewBag.Title = "Home Page";
}




<h1 class="center-text" style="font-family: Arial">Welcome to</h1>
<h1 class="center-text" style="font-family: Arial">Extremely Casual Game Organizer</h1>
<p class="lead center-text">This screen is fun, but once you login it's going to be even better!</p>
@{
    var folderPath = Server.MapPath("~/Images/");
    var ignoreList = new List<string>() { "back.png", "close.png", "send.png", "sms.png", "unknow.jpg" };
    var imageList = Directory.GetFiles(folderPath, "*.png")
                             .Select(Path.GetFileName)
                             .Where(fileName => !ignoreList.Contains(fileName))
                             .ToList();
    bool okayPNG = false;
    var selectedImage = "";

    var random = new Random();
    var randomIndex = random.Next(imageList.Count);

    selectedImage = imageList[randomIndex];

}
<img src="@Url.Content("~/Images/"+selectedImage)" alt="A pile of sport balls" class="image-size-1">
<div class="row">
    <div class="col-md-4">
        <h2 class="center-text">Find Games</h2>
        <p>
            Got no plans for an upcoming day off and not sure what to do? Look at the upcoming games and find one that seems interesting to you!
        </p>
    </div>
    <div class="col-md-4">
        <h2 class="center-text">Make Games</h2>
        <p>If you can't find anyone playing your sport of choice at the moment, try making your own game to spark some intrest!</p>
    </div>
    <div class="col-md-4">
        <h2 class="center-text">Make Teams</h2>
        <p>You can even make Teams so you have a group of people who want to play the same sports as you auto invited with you to the games that you find!</p>
    </div>
</div>